<a href="https://colab.research.google.com/github/sadullahozcan/sarcopenia_eda_analysis/blob/main/Initial_EDA_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [379]:
import pandas as pd
import numpy as np

# **Veriyi Okuyalım**

In [380]:
df = pd.read_excel("/content/drive/MyDrive/SARCOPENIA_PROJECT/sarcopenia-data-set_columns_corrected.xlsx")

In [381]:
df.head(n=5)

,Name,Order,Gender,Age,Weight,Height,Waist,Hip,Smoking,Smoking_packet_year,...,Status,Exercise,AT,CST,Gait_Speed,Grip_Str,STAR,BMI,MMSE,Sarcopenia
0,beyzanur,1,M,74.0,88.0,178.0,113.0,113.0,1,10.0,...,Retired,3-4/week,50.2,12.5,1.21,32.0,1.81,27.8,29.0,0
1,beyzanur,2,M,62.0,105.0,172.0,125.0,110.0,1,30.0,...,Retired,0,49.0,12.1,1.42,47.0,1.38,35.5,30.0,1
2,beyzanur,3,M,65.0,89.0,169.0,110.0,114.0,0,0.0,...,Retired,3-4/week,37.3,8.7,1.18,33.0,1.20,31.2,28.0,0
3,beyzanur,4,F,71.0,68.0,160.0,103.0,100.0,1,5.0,...,Retired,1-2/week,29.5,8.3,1.23,25.0,1.11,26.6,29.0,0
4,beyzanur,5,F,61.0,80.0,160.0,102.0,105.0,0,0.0,...,Retired,1-2/week,39.5,11.0,1.31,31.0,1.26,31.3,27.0,0

In [383]:
df.tail(n=5)

,Name,Order,Gender,Age,Weight,Height,Waist,Hip,Smoking,Smoking_packet_year,...,Status,Exercise,AT,CST,Gait_Speed,Grip_Str,STAR,BMI,MMSE,Sarcopenia
5011,ÖZDEN,5012,F,70.0,73.0,143.0,103.0,111.0,0,0.0,...,emekli veya çalışmıyor,0,28.2,14.67,0.81,19.5,0.79,35.70,30.0,1
5012,ÖZDEN,5013,F,72.0,78.0,160.0,100.0,108.0,0,0.0,...,emekli veya çalışmıyor,3-4/week,37.9,9.14,1.23,18.7,1.24,30.47,29.0,0
5013,ÖZDEN,5014,M,79.0,95.0,180.0,100.0,114.0,0,0.0,...,emekli veya çalışmıyor,0,43.2,11.86,1.16,29.5,1.47,29.32,30.0,0
5014,ÖZDEN,5015,M,85.0,96.0,161.0,106.0,107.0,0,0.0,...,emekli veya çalışmıyor,0,39.0,17.12,0.90,17.9,1.05,37.04,30.0,1
5015,ÖZDEN,5016,F,83.0,78.0,163.0,97.0,112.0,0,0.0,...,emekli veya çalışmıyor,0,26.0,39.64,0.19,14.9,0.89,29.36,26.0,1

**Verinin Boyutları**

In [384]:
df.shape

(5016, 43)

**Verinin Özellikleri**

In [385]:
df.columns

Index(['Name', 'Order', 'Gender', 'Age', 'Weight ', 'Height ', 'Waist ', 'Hip',
       'Smoking', ' Smoking_packet_year', '  Alcohol', 'DM_Type2',
       'DM_Type2_Duration', 'Insulin', 'DM__Type2_Drug', 'Dyslipidemia',
       'Dyslipidemia_duration', 'Statin_Colest_Drug', 'KAH', 'KAH duration',
       'Hipotiroidi', 'Asthma', 'COPD', 'OP', 'Others', 'HT', 'Type_HT',
       'Duration_of_HT', 'N_HT', 'HT_drugs', 'Duration_of_1HT', 'Education',
       'Job', 'Status', 'Exercise', 'AT', 'CST', 'Gait_Speed', 'Grip_Str',
       'STAR', 'BMI', 'MMSE', 'Sarcopenia'],
      dtype='object')

# **Veri Hakkında Özet Bilgi**

In [386]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5016 entries, 0 to 5015
Data columns (total 43 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   5016 non-null   object
 1   Order                  5016 non-null   int64
 2   Gender                 5016 non-null   object
 3   Age                    5016 non-null   float64
 4   Weight                 5007 non-null   float64
 5   Height                 5007 non-null   float64
 6   Waist                  4903 non-null   float64
 7   Hip                    4905 non-null   float64
 8   Smoking                5016 non-null   int64
 9    Smoking_packet_year   5014 non-null   float64
 10    Alcohol              5016 non-null   object
 11  DM_Type2               5014 non-null   float64
 12  DM_Type2_Duration      4929 non-null   float64
 13  Insulin                5001 non-null   float64
 14  DM__Type2_Drug         1461 non-null   object
 15  Dyslipidemia           5016 non-null   int64
 16  Dyslipidemia_duration  4889 non-null   float64
 17  Statin_Colest_Drug     685 non-null    object
 18  KAH                    5016 non-null   int64
 19  KAH duration           4942 non-null   float64
 20  Hipotiroidi            5016 non-null   int64
 21  Asthma                 5016 non-null   int64
 22  COPD                   5016 non-null   int64
 23  OP                     2046 non-null   object
 24  Others                 1254 non-null   object
 25  HT                     5015 non-null   float64
 26  Type_HT                1838 non-null   object
 27  Duration_of_HT         4834 non-null   float64
 28  N_HT                   4853 non-null   float64
 29  HT_drugs               2698 non-null   object
 30  Duration_of_1HT        4526 non-null   float64
 31  Education              4951 non-null   object
 32  Job                    4680 non-null   object
 33  Status                 4801 non-null   object
 34  Exercise               4953 non-null   object
 35  AT                     5005 non-null   float64
 36  CST                    5010 non-null   float64
 37  Gait_Speed             5002 non-null   float64
 38  Grip_Str               5013 non-null   float64
 39  STAR                   4995 non-null   float64
 40  BMI                    5004 non-null   float64
 41  MMSE                   4115 non-null   float64
 42  Sarcopenia             5016 non-null   int64
dtypes: float64(22), int64(8), object(13)
memory usage: 1.6+ MB

# **Veri Setinde Yer Alan Verilerin Tipleri**

In [387]:
df.dtypes

Name                      object
Order                      int64
Gender                    object
Age                      float64
Weight                   float64
Height                   float64
Waist                    float64
Hip                      float64
Smoking                    int64
 Smoking_packet_year     float64
  Alcohol                 object
DM_Type2                 float64
DM_Type2_Duration        float64
Insulin                  float64
DM__Type2_Drug            object
Dyslipidemia               int64
Dyslipidemia_duration    float64
Statin_Colest_Drug        object
KAH                        int64
KAH duration             float64
Hipotiroidi                int64
Asthma                     int64
COPD                       int64
OP                        object
Others                    object
HT                       float64
Type_HT                   object
Duration_of_HT           float64
N_HT                     float64
HT_drugs                  object
Duration_of_1HT          float64
Education                 object
Job                       object
Status                    object
Exercise                  object
AT                       float64
CST                      float64
Gait_Speed               float64
Grip_Str                 float64
STAR                     float64
BMI                      float64
MMSE                     float64
Sarcopenia                 int64
dtype: object

# **Yinelenen Veri Analizi**

In [388]:
df.duplicated().sum()

np.int64(0)

In [389]:
df.drop_duplicates(inplace=True)

# **DataFrame'deki Verilerin Açıklaması**

In [390]:
df.describe()

,Order,Age,Weight,Height,Waist,Hip,Smoking,Smoking_packet_year,DM_Type2,DM_Type2_Duration,...,N_HT,Duration_of_1HT,AT,CST,Gait_Speed,Grip_Str,STAR,BMI,MMSE,Sarcopenia
count,5016.000000,5016.000000,5007.000000,5007.000000,4903.000000,4905.000000,5016.000000,5014.000000,5014.000000,4929.000000,...,4853.000000,4526.000000,5005.000000,5010.000000,5002.000000,5013.000000,4995.000000,5004.000000,4115.000000,5016.000000
mean,2508.500000,61.996810,76.580188,160.495906,98.171936,111.008155,0.320375,8.190666,0.304547,3.123554,...,1.047187,3.787030,36.236104,11.604054,0.989023,26.612867,1.239541,29.867752,27.620656,0.203150
std,1448.138806,9.695544,13.711160,9.034135,19.209012,14.486069,0.466667,16.073376,0.460261,6.536226,...,1.137515,5.888592,8.392862,4.684895,0.283544,9.593913,0.318036,5.330521,2.859489,0.402383
min,1.000000,42.000000,34.000000,125.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,9.000000,1.100000,0.190000,0.000000,0.320000,13.930000,9.000000,0.000000
25%,1254.750000,54.000000,67.000000,155.000000,90.000000,102.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,30.200000,9.000000,0.790000,20.000000,1.010000,26.300000,27.000000,0.000000
50%,2508.500000,62.000000,76.000000,160.000000,98.000000,109.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,35.900000,10.800000,0.990000,25.000000,1.220000,29.300000,28.000000,0.000000
75%,3762.250000,69.000000,85.000000,166.000000,106.000000,117.000000,1.000000,10.000000,1.000000,2.000000,...,2.000000,6.000000,41.600000,12.900000,1.180000,31.000000,1.440000,32.900000,30.000000,0.000000
max,5016.000000,95.000000,137.000000,260.000000,915.000000,191.000000,1.000000,150.000000,1.000000,40.000000,...,6.000000,50.000000,73.000000,83.000000,2.500000,95.000000,2.780000,56.000000,30.000000,1.000000

# **Columns' Names Cleaning and Renaming**

In [391]:
df.rename(columns ={'Weight ':'Weight','Height ':'Height','Waist ':'Waist'},inplace=True)

In [392]:
df[["Weight","Height","Waist"]]

      Weight  Height  Waist
0       88.0   178.0  113.0
1      105.0   172.0  125.0
2       89.0   169.0  110.0
3       68.0   160.0  103.0
4       80.0   160.0  102.0
...      ...     ...    ...
5011    73.0   143.0  103.0
5012    78.0   160.0  100.0
5013    95.0   180.0  100.0
5014    96.0   161.0  106.0
5015    78.0   163.0   97.0

[5016 rows x 3 columns]

In [393]:
df.columns

Index(['Name', 'Order', 'Gender', 'Age', 'Weight', 'Height', 'Waist', 'Hip',
       'Smoking', ' Smoking_packet_year', '  Alcohol', 'DM_Type2',
       'DM_Type2_Duration', 'Insulin', 'DM__Type2_Drug', 'Dyslipidemia',
       'Dyslipidemia_duration', 'Statin_Colest_Drug', 'KAH', 'KAH duration',
       'Hipotiroidi', 'Asthma', 'COPD', 'OP', 'Others', 'HT', 'Type_HT',
       'Duration_of_HT', 'N_HT', 'HT_drugs', 'Duration_of_1HT', 'Education',
       'Job', 'Status', 'Exercise', 'AT', 'CST', 'Gait_Speed', 'Grip_Str',
       'STAR', 'BMI', 'MMSE', 'Sarcopenia'],
      dtype='object')

In [394]:
df.rename(columns=lambda x: x.strip(), inplace=True)

In [396]:
df.columns

Index(['Name', 'Order', 'Gender', 'Age', 'Weight', 'Height', 'Waist', 'Hip',
       'Smoking', 'Smoking_packet_year', 'Alcohol', 'DM_Type2',
       'DM_Type2_Duration', 'Insulin', 'DM__Type2_Drug', 'Dyslipidemia',
       'Dyslipidemia_duration', 'Statin_Colest_Drug', 'KAH', 'KAH duration',
       'Hipotiroidi', 'Asthma', 'COPD', 'OP', 'Others', 'HT', 'Type_HT',
       'Duration_of_HT', 'N_HT', 'HT_drugs', 'Duration_of_1HT', 'Education',
       'Job', 'Status', 'Exercise', 'AT', 'CST', 'Gait_Speed', 'Grip_Str',
       'STAR', 'BMI', 'MMSE', 'Sarcopenia'],
      dtype='object')

# **Missing Value Analysis**

In [397]:
df.isnull()

,Name,Order,Gender,Age,Weight,Height,Waist,Hip,Smoking,Smoking_packet_year,...,Status,Exercise,AT,CST,Gait_Speed,Grip_Str,STAR,BMI,MMSE,Sarcopenia
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5011,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5012,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5013,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5014,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5015,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [398]:
df.isnull().sum()

Name                        0
Order                       0
Gender                      0
Age                         0
Weight                      9
Height                      9
Waist                     113
Hip                       111
Smoking                     0
Smoking_packet_year         2
Alcohol                     0
DM_Type2                    2
DM_Type2_Duration          87
Insulin                    15
DM__Type2_Drug           3555
Dyslipidemia                0
Dyslipidemia_duration     127
Statin_Colest_Drug       4331
KAH                         0
KAH duration               74
Hipotiroidi                 0
Asthma                      0
COPD                        0
OP                       2970
Others                   3762
HT                          1
Type_HT                  3178
Duration_of_HT            182
N_HT                      163
HT_drugs                 2318
Duration_of_1HT           490
Education                  65
Job                       336
Status                    215
Exercise                   63
AT                         11
CST                         6
Gait_Speed                 14
Grip_Str                    3
STAR                       21
BMI                        12
MMSE                      901
Sarcopenia                  0
dtype: int64

In [399]:
df[(df.isnull().Weight == True)]

,Name,Order,Gender,Age,Weight,Height,Waist,Hip,Smoking,Smoking_packet_year,...,Status,Exercise,AT,CST,Gait_Speed,Grip_Str,STAR,BMI,MMSE,Sarcopenia
160,beyzanur,161,M,77.0,NaN,152.0,115.0,114.0,1,30.0,...,retired,0,40.0,10.2,0.84,25.0,NaN,NaN,26.0,1
2053,Tülay,2054,F,77.0,NaN,148.0,106.0,114.0,0,0.0,...,Retired,0,39.5,9.5,0.78,20.0,NaN,NaN,19.0,0
2416,eda çeker,2417,M,69.0,NaN,NaN,NaN,NaN,1,40.0,...,Retired,0,28.9,16.4,1.37,29.0,NaN,NaN,23.0,1
2705,emin,2706,F,75.0,NaN,NaN,102.0,117.0,0,0.0,...,retired,0,30.3,14.0,0.52,23.0,NaN,NaN,23.0,1
2746,eda çeker,2747,F,70.0,NaN,160.0,114.0,115.0,0,0.0,...,Retired,0,36.5,15.0,1.08,31.0,NaN,NaN,27.0,1
2857,esra çataltepe,2858,F,74.0,NaN,147.0,92.0,98.0,0,0.0,...,Retired,1-2/week,30.2,14.7,1.15,16.0,NaN,NaN,18.0,1
3367,esra çataltepe,3368,M,82.0,NaN,NaN,95.0,110.0,0,0.0,...,Retired,0,29.0,16.7,1.02,26.0,1.0,NaN,28.0,1
3697,büşra,3698,M,83.0,NaN,NaN,NaN,NaN,1,30.0,...,retired,0,17.8,20.0,NaN,7.0,NaN,NaN,24.0,1
3915,eda çeker,3916,M,87.0,NaN,NaN,98.0,102.0,1,60.0,...,retired,3-4/week,29.0,19.0,0.92,29.0,NaN,NaN,25.0,1

In [400]:
df.fillna({"Weight": df["Weight"].mean() }, inplace=True)

In [401]:
df["Weight"].isnull().sum()

np.int64(0)

In [402]:
df.fillna({"Height": df["Height"].mean() }, inplace=True)

In [403]:
df["Height"].isnull().sum()

np.int64(0)

In [404]:
df.isnull().sum()

Name                        0
Order                       0
Gender                      0
Age                         0
Weight                      0
Height                      0
Waist                     113
Hip                       111
Smoking                     0
Smoking_packet_year         2
Alcohol                     0
DM_Type2                    2
DM_Type2_Duration          87
Insulin                    15
DM__Type2_Drug           3555
Dyslipidemia                0
Dyslipidemia_duration     127
Statin_Colest_Drug       4331
KAH                         0
KAH duration               74
Hipotiroidi                 0
Asthma                      0
COPD                        0
OP                       2970
Others                   3762
HT                          1
Type_HT                  3178
Duration_of_HT            182
N_HT                      163
HT_drugs                 2318
Duration_of_1HT           490
Education                  65
Job                       336
Status                    215
Exercise                   63
AT                         11
CST                         6
Gait_Speed                 14
Grip_Str                    3
STAR                       21
BMI                        12
MMSE                      901
Sarcopenia                  0
dtype: int64

In [405]:
df.fillna({"Waist": df["Waist"].mean() }, inplace=True)

In [406]:
df.fillna({"Hip": df["Hip"].mean() }, inplace=True)

In [407]:
df.describe()

,Order,Age,Weight,Height,Waist,Hip,Smoking,Smoking_packet_year,DM_Type2,DM_Type2_Duration,...,N_HT,Duration_of_1HT,AT,CST,Gait_Speed,Grip_Str,STAR,BMI,MMSE,Sarcopenia
count,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5014.000000,5014.000000,4929.000000,...,4853.000000,4526.000000,5005.000000,5010.000000,5002.000000,5013.000000,4995.000000,5004.000000,4115.000000,5016.000000
mean,2508.500000,61.996810,76.580188,160.495906,98.171936,111.008155,0.320375,8.190666,0.304547,3.123554,...,1.047187,3.787030,36.236104,11.604054,0.989023,26.612867,1.239541,29.867752,27.620656,0.203150
std,1448.138806,9.695544,13.698852,9.026025,18.991366,14.324857,0.466667,16.073376,0.460261,6.536226,...,1.137515,5.888592,8.392862,4.684895,0.283544,9.593913,0.318036,5.330521,2.859489,0.402383
min,1.000000,42.000000,34.000000,125.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,9.000000,1.100000,0.190000,0.000000,0.320000,13.930000,9.000000,0.000000
25%,1254.750000,54.000000,67.000000,155.000000,90.000000,102.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,30.200000,9.000000,0.790000,20.000000,1.010000,26.300000,27.000000,0.000000
50%,2508.500000,62.000000,76.000000,160.000000,98.171936,110.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,35.900000,10.800000,0.990000,25.000000,1.220000,29.300000,28.000000,0.000000
75%,3762.250000,69.000000,85.000000,166.000000,106.000000,117.000000,1.000000,10.000000,1.000000,2.000000,...,2.000000,6.000000,41.600000,12.900000,1.180000,31.000000,1.440000,32.900000,30.000000,0.000000
max,5016.000000,95.000000,137.000000,260.000000,915.000000,191.000000,1.000000,150.000000,1.000000,40.000000,...,6.000000,50.000000,73.000000,83.000000,2.500000,95.000000,2.780000,56.000000,30.000000,1.000000

In [408]:
df.isnull().sum()

Name                        0
Order                       0
Gender                      0
Age                         0
Weight                      0
Height                      0
Waist                       0
Hip                         0
Smoking                     0
Smoking_packet_year         2
Alcohol                     0
DM_Type2                    2
DM_Type2_Duration          87
Insulin                    15
DM__Type2_Drug           3555
Dyslipidemia                0
Dyslipidemia_duration     127
Statin_Colest_Drug       4331
KAH                         0
KAH duration               74
Hipotiroidi                 0
Asthma                      0
COPD                        0
OP                       2970
Others                   3762
HT                          1
Type_HT                  3178
Duration_of_HT            182
N_HT                      163
HT_drugs                 2318
Duration_of_1HT           490
Education                  65
Job                       336
Status                    215
Exercise                   63
AT                         11
CST                         6
Gait_Speed                 14
Grip_Str                    3
STAR                       21
BMI                        12
MMSE                      901
Sarcopenia                  0
dtype: int64

In [409]:
df["Alcohol"]

0       social
1       social
2            0
3            0
4            0
         ...
5011         0
5012         0
5013         0
5014         0
5015         0
Name: Alcohol, Length: 5016, dtype: object

In [410]:
df.loc[df.Alcohol == "social", "Alcohol"] = 1
df.loc[df.Alcohol == "Regular", "Alcohol"] = 1
df.loc[df.Alcohol == "düzenli içici", "Alcohol"] = 1

In [411]:
print(df.loc[5004, "Alcohol"])

0

In [412]:
df["Alcohol"]

0       1
1       1
2       0
3       0
4       0
       ..
5011    0
5012    0
5013    0
5014    0
5015    0
Name: Alcohol, Length: 5016, dtype: object

In [413]:
df.loc[(df.DM_Type2 == 0) & (df.DM_Type2_Duration.isnull()), "DM_Type2_Duration"] = 0

In [414]:
df.loc[(df.DM_Type2.isnull()) & (df.DM_Type2_Duration.isnull()), "DM_Type2_Duration"] = 0

In [415]:
df.DM_Type2_Duration.isnull().sum()

np.int64(70)

In [416]:
df.loc[(df.DM_Type2 == 1) & (df.DM_Type2_Duration.isnull()), "DM_Type2_Duration"] = df.DM_Type2_Duration.mean()

In [417]:
df.DM_Type2_Duration.isnull().sum()

np.int64(0)

In [418]:
df.isnull().sum()

Name                        0
Order                       0
Gender                      0
Age                         0
Weight                      0
Height                      0
Waist                       0
Hip                         0
Smoking                     0
Smoking_packet_year         2
Alcohol                     0
DM_Type2                    2
DM_Type2_Duration           0
Insulin                    15
DM__Type2_Drug           3555
Dyslipidemia                0
Dyslipidemia_duration     127
Statin_Colest_Drug       4331
KAH                         0
KAH duration               74
Hipotiroidi                 0
Asthma                      0
COPD                        0
OP                       2970
Others                   3762
HT                          1
Type_HT                  3178
Duration_of_HT            182
N_HT                      163
HT_drugs                 2318
Duration_of_1HT           490
Education                  65
Job                       336
Status                    215
Exercise                   63
AT                         11
CST                         6
Gait_Speed                 14
Grip_Str                    3
STAR                       21
BMI                        12
MMSE                      901
Sarcopenia                  0
dtype: int64

In [419]:
df.loc[(df.DM_Type2 == 1) & (df.Insulin.isnull()), "Insulin"] = 1

In [420]:
df.Insulin.isnull().sum()

np.int64(0)

In [421]:
df.loc[(df.DM_Type2.isnull()) & (df.Insulin == 0), "DM_Type2"] = 0

In [422]:
df.isnull().sum()

Name                        0
Order                       0
Gender                      0
Age                         0
Weight                      0
Height                      0
Waist                       0
Hip                         0
Smoking                     0
Smoking_packet_year         2
Alcohol                     0
DM_Type2                    0
DM_Type2_Duration           0
Insulin                     0
DM__Type2_Drug           3555
Dyslipidemia                0
Dyslipidemia_duration     127
Statin_Colest_Drug       4331
KAH                         0
KAH duration               74
Hipotiroidi                 0
Asthma                      0
COPD                        0
OP                       2970
Others                   3762
HT                          1
Type_HT                  3178
Duration_of_HT            182
N_HT                      163
HT_drugs                 2318
Duration_of_1HT           490
Education                  65
Job                       336
Status                    215
Exercise                   63
AT                         11
CST                         6
Gait_Speed                 14
Grip_Str                    3
STAR                       21
BMI                        12
MMSE                      901
Sarcopenia                  0
dtype: int64

In [423]:
df.rename(columns ={'DM__Type2_Drug':'DM_Type2_Drug'},inplace=True)

In [424]:
df.columns

Index(['Name', 'Order', 'Gender', 'Age', 'Weight', 'Height', 'Waist', 'Hip',
       'Smoking', 'Smoking_packet_year', 'Alcohol', 'DM_Type2',
       'DM_Type2_Duration', 'Insulin', 'DM_Type2_Drug', 'Dyslipidemia',
       'Dyslipidemia_duration', 'Statin_Colest_Drug', 'KAH', 'KAH duration',
       'Hipotiroidi', 'Asthma', 'COPD', 'OP', 'Others', 'HT', 'Type_HT',
       'Duration_of_HT', 'N_HT', 'HT_drugs', 'Duration_of_1HT', 'Education',
       'Job', 'Status', 'Exercise', 'AT', 'CST', 'Gait_Speed', 'Grip_Str',
       'STAR', 'BMI', 'MMSE', 'Sarcopenia'],
      dtype='object')

In [425]:
df.DM_Type2_Drug.isnull().sum()

np.int64(3555)

In [426]:
df.loc[(df.DM_Type2_Drug == "bilmiyor"), "DM_Type2_Drug"] = 0

In [427]:
df.loc[(df.DM_Type2_Drug == "diyet"), "DM_Type2_Drug"] = 0

In [428]:
df.loc[(df.DM_Type2_Drug == "ilaç başlanmamış henüz"), "DM_Type2_Drug"] = 0

In [429]:
df.loc[(df.DM_Type2_Drug == "ilaç kullanmıyor"), "DM_Type2_Drug"] = 0

In [430]:
df.loc[(df.DM_Type2_Drug == "İLAÇ KULLANMIYOR"), "DM_Type2_Drug"] = 0

In [431]:
df.loc[(df.DM_Type2_Drug == "ilaç kullanmıyormuş??"), "DM_Type2_Drug"] = 0

In [432]:
df.loc[(df.DM_Type2_Drug == "ilaçsız takip,diet"), "DM_Type2_Drug"] = 0

In [433]:
df.loc[(df.DM_Type2_Drug == "ilaçsız takip"), "DM_Type2_Drug"] = 0

In [434]:
df.loc[(df.DM_Type2_Drug == "no medication"), "DM_Type2_Drug"] = 0

In [435]:
df.loc[(df.DM_Type2_Drug == "none"), "DM_Type2_Drug"] = 0

In [436]:
df.loc[(df.DM_Type2_Drug == "without drug"), "DM_Type2_Drug"] = 0

In [437]:
df.loc[(df.DM_Type2 == 0) & (df.Insulin == 0), "DM_Type2_Drug"] = 0

In [438]:
df.DM_Type2_Drug.isnull().sum()

np.int64(78)

In [439]:
df.DM_Type2_Drug.value_counts()

DM_Type2_Drug
0                                                      3505
metformin                                               447
Metformin                                                79
metformin ve insulin                                     36
gliklazid                                                25
                                                       ...
gliklazid,betanorm,metformin                              1
metformin,glimepirid,                                     1
insülin glargine,insülin lispro                           1
gliklazid,sitagliptin,pioglitazon                         1
vildagliptin,metformin,empagliflozin,insülin aspart       1
Name: count, Length: 530, dtype: int64

In [440]:
df.loc[(df.DM_Type2_Drug.isnull()), "DM_Type2_Drug"] = 0

In [441]:
df.DM_Type2_Drug.isnull().sum()

np.int64(0)

In [442]:
df.DM_Type2_Drug.value_counts()

DM_Type2_Drug
0                                                      3583
metformin                                               447
Metformin                                                79
metformin ve insulin                                     36
gliklazid                                                25
                                                       ...
gliklazid,betanorm,metformin                              1
metformin,glimepirid,                                     1
insülin glargine,insülin lispro                           1
gliklazid,sitagliptin,pioglitazon                         1
vildagliptin,metformin,empagliflozin,insülin aspart       1
Name: count, Length: 530, dtype: int64

In [443]:
df["DM_Type2_Drug_Usage"] = (df.DM_Type2_Drug != 0).astype(int).astype(str)

In [444]:
print(df["DM_Type2_Drug_Usage"].value_counts())

DM_Type2_Drug_Usage
0    3583
1    1433
Name: count, dtype: int64

In [445]:
new_column = df.pop("DM_Type2_Drug_Usage")

In [446]:
df.insert(15, "DM_Type2_Drug_Usage", new_column)

In [447]:
print(df["DM_Type2_Drug_Usage"].value_counts())

DM_Type2_Drug_Usage
0    3583
1    1433
Name: count, dtype: int64

In [448]:
df.columns

Index(['Name', 'Order', 'Gender', 'Age', 'Weight', 'Height', 'Waist', 'Hip',
       'Smoking', 'Smoking_packet_year', 'Alcohol', 'DM_Type2',
       'DM_Type2_Duration', 'Insulin', 'DM_Type2_Drug', 'DM_Type2_Drug_Usage',
       'Dyslipidemia', 'Dyslipidemia_duration', 'Statin_Colest_Drug', 'KAH',
       'KAH duration', 'Hipotiroidi', 'Asthma', 'COPD', 'OP', 'Others', 'HT',
       'Type_HT', 'Duration_of_HT', 'N_HT', 'HT_drugs', 'Duration_of_1HT',
       'Education', 'Job', 'Status', 'Exercise', 'AT', 'CST', 'Gait_Speed',
       'Grip_Str', 'STAR', 'BMI', 'MMSE', 'Sarcopenia'],
      dtype='object')

In [449]:
df.loc[(df.Dyslipidemia > 1), "Dyslipidemia"] = 1

In [450]:
df.Dyslipidemia.value_counts()

Dyslipidemia
0    4112
1     904
Name: count, dtype: int64

In [451]:
df.Dyslipidemia_duration.isnull().sum()

np.int64(127)

In [452]:
df.loc[(df.Dyslipidemia == 1) & (df.Dyslipidemia_duration.isnull()), "Dyslipidemia_duration"] = df.Dyslipidemia_duration.mean()

In [453]:
df.loc[(df.Dyslipidemia == 0) & (df.Dyslipidemia_duration.isnull()), "Dyslipidemia_duration"] = 0

In [454]:
df.Dyslipidemia_duration.isnull().sum()

np.int64(0)

In [455]:
df.drop('Statin_Colest_Drug',axis=1, inplace=True)

In [456]:
df.columns

Index(['Name', 'Order', 'Gender', 'Age', 'Weight', 'Height', 'Waist', 'Hip',
       'Smoking', 'Smoking_packet_year', 'Alcohol', 'DM_Type2',
       'DM_Type2_Duration', 'Insulin', 'DM_Type2_Drug', 'DM_Type2_Drug_Usage',
       'Dyslipidemia', 'Dyslipidemia_duration', 'KAH', 'KAH duration',
       'Hipotiroidi', 'Asthma', 'COPD', 'OP', 'Others', 'HT', 'Type_HT',
       'Duration_of_HT', 'N_HT', 'HT_drugs', 'Duration_of_1HT', 'Education',
       'Job', 'Status', 'Exercise', 'AT', 'CST', 'Gait_Speed', 'Grip_Str',
       'STAR', 'BMI', 'MMSE', 'Sarcopenia'],
      dtype='object')

In [457]:
df.rename(columns ={'KAH duration':'KAH_Duration'},inplace=True)

In [458]:
df.KAH_Duration.describe()

count    4942.000000
mean        1.035431
std         3.575912
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max        40.000000
Name: KAH_Duration, dtype: float64

In [459]:
df.loc[(df.KAH_Duration.isnull()), "KAH_Duration"] = df.KAH_Duration.mean()

In [460]:
df.KAH_Duration.isnull().sum()

np.int64(0)

In [461]:
df.loc[(df.Gender == "M") & (df.Age >= 70) & (df.OP.isnull()), "OP"] = 1

In [462]:
df.loc[(df.Gender == "F") & (df.Age >= 65) & (df.OP.isnull()), "OP"] = 1

In [463]:
df.OP.isnull().sum()

np.int64(1995)

In [464]:
df.loc[(df.Gender == "M") & (df.Age < 70) & (df.OP.isnull()), "OP"] = 0

In [465]:
df.loc[(df.Gender == "F") & (df.Age < 65) & (df.OP.isnull()), "OP"] = 0

In [466]:
df.OP.isnull().sum()

np.int64(0)

In [467]:
df.Others.value_counts()

Others
BPH                                109
aritmi                              71
depression                          68
FMS                                 40
meme ca                             31
                                  ...
anksiyete, HBS                       1
svo, kolon ca, küratif epilepsi      1
talasemi minor                       1
Psoriasis                            1
Demans, depresyon                    1
Name: count, Length: 487, dtype: int64

In [468]:
df.drop('Others',axis=1, inplace=True)

In [469]:
df.columns

Index(['Name', 'Order', 'Gender', 'Age', 'Weight', 'Height', 'Waist', 'Hip',
       'Smoking', 'Smoking_packet_year', 'Alcohol', 'DM_Type2',
       'DM_Type2_Duration', 'Insulin', 'DM_Type2_Drug', 'DM_Type2_Drug_Usage',
       'Dyslipidemia', 'Dyslipidemia_duration', 'KAH', 'KAH_Duration',
       'Hipotiroidi', 'Asthma', 'COPD', 'OP', 'HT', 'Type_HT',
       'Duration_of_HT', 'N_HT', 'HT_drugs', 'Duration_of_1HT', 'Education',
       'Job', 'Status', 'Exercise', 'AT', 'CST', 'Gait_Speed', 'Grip_Str',
       'STAR', 'BMI', 'MMSE', 'Sarcopenia'],
      dtype='object')

In [470]:
df.HT.value_counts()

HT
1.0    2865
0.0    2150
Name: count, dtype: int64

In [471]:
df.loc[(df.HT.isnull()), "HT"] = 0

In [472]:
df.HT.isnull().sum()

np.int64(0)

In [473]:
df.Type_HT.value_counts()

Type_HT
ARB+DIURETIC                       340
CCB                                198
ACE                                180
ACE+DIURETIC                       168
B BLOCKER                          130
                                  ...
B BLOKER+SPİRONOLAKTON               1
DIURETIC + ALFA BLOKER               1
B BLOKER+DIURETIC+SPİRONOLAKTON      1
B BLOKER+DIURETIK+SPIRONOLAKTON      1
SPİRONOLAKTON+ DIURETIC              1
Name: count, Length: 80, dtype: int64

In [474]:
df.drop('Type_HT',axis=1, inplace=True)

In [476]:
df.columns

Index(['Name', 'Order', 'Gender', 'Age', 'Weight', 'Height', 'Waist', 'Hip',
       'Smoking', 'Smoking_packet_year', 'Alcohol', 'DM_Type2',
       'DM_Type2_Duration', 'Insulin', 'DM_Type2_Drug', 'DM_Type2_Drug_Usage',
       'Dyslipidemia', 'Dyslipidemia_duration', 'KAH', 'KAH_Duration',
       'Hipotiroidi', 'Asthma', 'COPD', 'OP', 'HT', 'Duration_of_HT', 'N_HT',
       'HT_drugs', 'Duration_of_1HT', 'Education', 'Job', 'Status', 'Exercise',
       'AT', 'CST', 'Gait_Speed', 'Grip_Str', 'STAR', 'BMI', 'MMSE',
       'Sarcopenia'],
      dtype='object')

In [477]:
df.Duration_of_HT.isnull().sum()

np.int64(182)

In [478]:
df.loc[(df.HT == 1) & (df.Duration_of_HT.isnull()), "Duration_of_HT"] = df.Duration_of_HT.mean()

In [479]:
df.Duration_of_HT.isnull().sum()

np.int64(1)

In [480]:
df.loc[(df.Duration_of_HT.isnull()), "Duration_of_HT"] = 0

In [481]:
df.Duration_of_HT.isnull().sum()

np.int64(0)

In [482]:
df.loc[(df.N_HT.isnull()), "N_HT"] = df.N_HT.median()

In [483]:
df.N_HT.isnull().sum()

np.int64(0)

In [484]:
df.HT_drugs.isnull().sum()

np.int64(2318)

In [485]:
df.loc[(df.HT_drugs == "?"), "HT_drugs"] = 0

In [486]:
df.loc[(df.HT_drugs == "0?"), "HT_drugs"] = 0

In [487]:
df.loc[(df.HT_drugs == "bilmiyor"), "HT_drugs"] = 0

In [488]:
df.loc[(df.HT_drugs == "henüz tedavi başlanmamış"), "HT_drugs"] = 0

In [489]:
df.loc[(df.HT_drugs == "ilaç kullanmıyor"), "HT_drugs"] = 0

In [490]:
df.loc[(df.HT_drugs.isnull()), "HT_drugs"] = 0

**New Column Adding**

In [491]:
df["HT_Drug_Usage"] = (df.HT_drugs != 0).astype(int).astype(str)

In [492]:
print(df["HT_Drug_Usage"].value_counts())

HT_Drug_Usage
1    2688
0    2328
Name: count, dtype: int64

In [493]:
new_column = df.pop("HT_Drug_Usage")

In [494]:
df.insert(28, "HT_Drug_Usage", new_column)

In [495]:
df.columns

Index(['Name', 'Order', 'Gender', 'Age', 'Weight', 'Height', 'Waist', 'Hip',
       'Smoking', 'Smoking_packet_year', 'Alcohol', 'DM_Type2',
       'DM_Type2_Duration', 'Insulin', 'DM_Type2_Drug', 'DM_Type2_Drug_Usage',
       'Dyslipidemia', 'Dyslipidemia_duration', 'KAH', 'KAH_Duration',
       'Hipotiroidi', 'Asthma', 'COPD', 'OP', 'HT', 'Duration_of_HT', 'N_HT',
       'HT_drugs', 'HT_Drug_Usage', 'Duration_of_1HT', 'Education', 'Job',
       'Status', 'Exercise', 'AT', 'CST', 'Gait_Speed', 'Grip_Str', 'STAR',
       'BMI', 'MMSE', 'Sarcopenia'],
      dtype='object')

In [496]:
df.Duration_of_1HT.isnull().sum()

np.int64(490)

In [497]:
df.Duration_of_1HT.value_counts()

Duration_of_1HT
0.0     2304
10.0     392
5.0      279
2.0      196
1.0      177
3.0      172
15.0     164
4.0      128
20.0     122
6.0      110
8.0       77
7.0       63
12.0      43
0.1       38
9.0       31
0.5       29
0.3       22
25.0      20
30.0      20
13.0      16
0.2       14
14.0      14
1.5       12
11.0      12
17.0      10
18.0       8
16.0       5
0.4        5
26.0       4
2.5        4
19.0       3
12.5       3
0.8        3
22.0       3
35.0       3
23.0       2
24.0       2
0.7        2
0.6        2
50.0       1
9.5        1
43.0       1
14.6       1
3.5        1
2.3        1
7.5        1
37.0       1
40.0       1
27.0       1
21.0       1
4.5        1
Name: count, dtype: int64

In [498]:
df.loc[(df.Duration_of_1HT.isnull()), "Duration_of_1HT"] = 0

In [499]:
df.Duration_of_1HT.isnull().sum()

np.int64(0)

In [500]:
df.to_excel("/content/drive/MyDrive/SARCOPENIA_PROJECT/sarcopenia-data-set_columns_corrected2.xlsx")

In [501]:
df.Education.value_counts()

Education
Primary School      2174
High School          897
University           761
illiterate           594
Secondary School     475
primary school        18
university            11
high school           11
secondary school       3
üniversity             3
Primary shool          3
primary shool          1
Name: count, dtype: int64

In [502]:
df.loc[(df.Education == "Primary shool"), "Education"] = "Primary School"

In [503]:
df.loc[(df.Education == "primary school"), "Education"] = "Primary School"

In [504]:
df.loc[(df.Education == "secondary school"), "Education"] = "Secondary School"

In [505]:
df.loc[(df.Education == "high school"), "Education"] = "High School"

In [506]:
df.loc[(df.Education == "üniversity"), "Education"] = "University"

In [507]:
df.loc[(df.Education == "university"), "Education"] = "University"

In [508]:
df.loc[(df.Age >= 80) & (df.Education.isnull()), "Education"] = "illiterate"

In [509]:
df.loc[(df.Job == "worker") & (df.Education.isnull()), "Education"] = "Primary School"

In [510]:
df.loc[(df.Job == "işçi") & (df.Education.isnull()), "Education"] = "Primary School"

In [511]:
df.Education.value_counts()

Education
Primary School      2200
High School          908
University           775
illiterate           595
Secondary School     478
primary shool          1
Name: count, dtype: int64

In [512]:
df.loc[(df.Education == "primary shool"), "Education"] = "Primary School"

In [513]:
df.Education.isnull().sum()

np.int64(59)

In [514]:
df.loc[(df.Age >= 70) & (df.Education.isnull()), "Education"] = "Primary School"

In [515]:
df.loc[(df.Age >= 60) & (df.Education.isnull()), "Education"] = "Secondary School"

In [516]:
df.loc[(df.Age >= 50) & (df.Education.isnull()), "Education"] = "High School"

In [517]:
df.loc[(df.Education.isnull()), "Education"] = "University"

In [518]:
df.Education.isnull().sum()

np.int64(0)

In [519]:
df.Job.isnull().sum()

np.int64(336)

In [520]:
df.loc[(df.Job.isnull()) & (df.Status == "emekli"), "Job"] = "Retired"

In [521]:
df.loc[(df.Job.isnull()) & (df.Status == "retired"), "Job"] = "Retired"

In [522]:
df.loc[(df.Job.isnull()) & (df.Status == "Retired"), "Job"] = "Retired"

In [523]:
df.loc[(df.Job.isnull()) & (df.Status == "emekli veya çalışmıyor"), "Job"] = "Retired"

In [524]:
df.loc[(df.Job.isnull()) & (df.Status == "EMEKLİ/ÇALIŞMIYOR"), "Job"] = "Retired"

In [525]:
df.loc[(df.Job.isnull()) & (df.Status == "evhanımı"), "Job"] = "Housewife"

In [526]:
df.loc[(df.Job == "housewife"), "Job"] = "Housewife"

In [527]:
df.loc[(df.Job == "house wife"), "Job"] = "Housewife"

In [528]:
df.loc[(df.Job == "evhanımı"), "Job"] = "Housewife"

In [529]:
df.loc[(df.Job == "ev hanımı"), "Job"] = "Housewife"

In [530]:
df.loc[(df.Job.isnull()) & (df.Status == "Retired"), "Job"] = "Retired"

In [531]:
df.loc[(df.Job.isnull()), "Job"] = "Unknown"

In [532]:
df.Job.isnull().sum()

np.int64(0)

In [533]:
df.Job.value_counts()

Job
Housewife                 2143
worker                     309
emekli veya çalışmıyor     307
Unknown                    225
officer                    167
                          ...
Craft                        1
audiometrist                 1
none                         1
emekli mühendis              1
emekli öğretim üyesi         1
Name: count, Length: 461, dtype: int64

In [534]:
df.Status.value_counts()

Status
retired                   2085
Retired                    333
evhanımı                   312
emekli veya çalışmıyor     251
unemployed                 246
                          ...
çALIŞMIYOR                   1
worker                       1
non working                  1
ÇALIŞMIYORr                  1
çalışmıuor                   1
Name: count, Length: 65, dtype: int64

In [535]:
df.loc[(df.Status == "evhanımı"), "Status"] = "Not Working"

In [536]:
df.loc[df.Status.isin(["retired","Retired","emekli veya çalışmıyor","unemployed","çALIŞMIYOR","non working","ÇALIŞMIYORr","çalışmıuor","çalışmıyor","Unemployed","emekli","Not working","ÇALIŞMIYOR","EMEKLİ/ÇALIŞMIYOR","Retired/nonworking","Çalışmıyor","retired or not working","Emekli","Emekli veya çalışmıyor","EMEKLİ","Abstinence","ÇALŞIMIYOR","not working","Retire","none","Retiret","emekli vey çalışmıyor","çalışmıYOR","emekli çalışmıyor","çalışmıyoR","unemployedNone"]), "Status"] = "Not Working"

In [537]:
df.Status.value_counts()

Status
Not Working                         4004
working                              226
Working                              161
çalışıyor                             77
TAM/KISMİ ÇALIŞIYOR                   55
Full-time/part-time work              36
ÇALIŞIYOR                             28
full time                             27
Full time                             23
tam/kısmi zamnalı çalışıyor           23
aktif çalışan                         18
Full-time                             16
Tam/kısmi zamanlı çalışıyor           14
full/part time work                   14
calısıyor                             13
full/part time                        12
actively working                      11
Tam/kısmi zamanlı                     10
tam/kısmi zamanlı çalışıyor            8
full time work                         4
tam veya kısmı zamanlı calısıyor       3
tam zamanlı                            3
full/part time worker                  2
full-time/part-time work               2
kısmi                                  2
Çalışıyor                              2
Full/part time work                    1
part time work                         1
ull-time/part-time work                1
workşng                                1
Kısmi çalışıyor                        1
worker                                 1
Tam zamanlı çalışıyor                  1
Name: count, dtype: int64

In [538]:
df.Status.isnull().sum()

np.int64(215)

In [539]:
df.loc[(df.Job == "Housewife") & (df.Status.isnull()), "Status"] = "Not Working"

In [540]:
df.Status.isnull().sum()

np.int64(173)

In [541]:
df.loc[(df.Status.isnull()), "Status"] = "Unknown"

In [542]:
df.Status.isnull().sum()

np.int64(0)

In [543]:
df.loc[(df.Status == "#REF!"), "Status"] = "Working"

In [544]:
df["Work_Status"] = (~df.Status.isin(["Not Working", "Unknown"])).astype(int).astype(str)

In [545]:
df.Work_Status.value_counts()

Work_Status
0    4219
1     797
Name: count, dtype: int64

In [546]:
new_column3 = df.pop("Work_Status")

In [547]:
df.insert(33, "Work_Status", new_column3)

In [548]:
df.columns

Index(['Name', 'Order', 'Gender', 'Age', 'Weight', 'Height', 'Waist', 'Hip',
       'Smoking', 'Smoking_packet_year', 'Alcohol', 'DM_Type2',
       'DM_Type2_Duration', 'Insulin', 'DM_Type2_Drug', 'DM_Type2_Drug_Usage',
       'Dyslipidemia', 'Dyslipidemia_duration', 'KAH', 'KAH_Duration',
       'Hipotiroidi', 'Asthma', 'COPD', 'OP', 'HT', 'Duration_of_HT', 'N_HT',
       'HT_drugs', 'HT_Drug_Usage', 'Duration_of_1HT', 'Education', 'Job',
       'Status', 'Work_Status', 'Exercise', 'AT', 'CST', 'Gait_Speed',
       'Grip_Str', 'STAR', 'BMI', 'MMSE', 'Sarcopenia'],
      dtype='object')

In [551]:
df.dtypes

Name                      object
Order                      int64
Gender                    object
Age                      float64
Weight                   float64
Height                   float64
Waist                    float64
Hip                      float64
Smoking                    int64
Smoking_packet_year      float64
Alcohol                   object
DM_Type2                 float64
DM_Type2_Duration        float64
Insulin                  float64
DM_Type2_Drug             object
DM_Type2_Drug_Usage       object
Dyslipidemia               int64
Dyslipidemia_duration    float64
KAH                        int64
KAH_Duration             float64
Hipotiroidi                int64
Asthma                     int64
COPD                       int64
OP                        object
HT                       float64
Duration_of_HT           float64
N_HT                     float64
HT_drugs                  object
HT_Drug_Usage             object
Duration_of_1HT          float64
Education                 object
Job                       object
Status                    object
Work_Status               object
Exercise                  object
AT                       float64
CST                      float64
Gait_Speed               float64
Grip_Str                 float64
STAR                     float64
BMI                      float64
MMSE                     float64
Sarcopenia                 int64
dtype: object

In [552]:
df.to_excel("/content/drive/MyDrive/SARCOPENIA_PROJECT/sarcopenia-data-set_columns_corrected3.xlsx")

In [553]:
df.Exercise.value_counts()

Exercise
0            2910
3-4/week     1226
1-2/week      816
 1-2/week       1
Name: count, dtype: int64

In [554]:
df.Exercise.isnull().sum()

np.int64(63)

In [555]:
df.loc[(df.Gait_Speed <= 1) & (df.CST <= 12) & (df.Exercise.isnull()), "Exercise"] = 0

In [556]:
df.loc[(df.Exercise.isnull()), "Exercise"] = "1-2/week"

In [557]:
df.Exercise.value_counts()

Exercise
0            2928
3-4/week     1226
1-2/week      861
 1-2/week       1
Name: count, dtype: int64

In [558]:
df.Exercise.isnull().sum()

np.int64(0)

In [559]:
df.loc[(df.Exercise == 0) & (df.AT.isnull()), "AT"] = 0

In [560]:
df.loc[(df.AT.isnull()), "AT"] = df.AT.mean()

In [561]:
df.AT.isnull().sum()

np.int64(0)

In [562]:
df.loc[(df.CST.isnull()), "CST"] = df.CST.median()

In [563]:
df.loc[(df.Gait_Speed.isnull()), "Gait_Speed"] = df.Gait_Speed.mean()

In [564]:
df.Grip_Str.isnull().sum()

np.int64(3)

In [565]:
df.loc[(df.Grip_Str.isnull()), "Grip_Str"] = df.Grip_Str.median()

In [566]:
df.Grip_Str.isnull().sum()

np.int64(0)

In [567]:
df.STAR.isnull().sum()

np.int64(21)

In [568]:
df.loc[(df.STAR.isnull()), "STAR"] = df.STAR.mean()

In [569]:
df.BMI.isnull().sum()

np.int64(12)

In [570]:
print(df.BMI.mean())

29.867751798561148

In [571]:
print(df.BMI.median())

29.3

In [572]:
df.loc[(df.BMI.isnull()), "BMI"] = df.BMI.mean()

In [573]:
df.BMI.isnull().sum()

np.int64(0)

In [574]:
df.MMSE.isnull().sum()

np.int64(901)

In [575]:
df.MMSE.mean()

np.float64(27.620656136087486)

In [576]:
df.MMSE.median()

28.0

In [577]:
df.loc[(df.MMSE.isnull()), "MMSE"] = df.MMSE.median()

In [578]:
df.MMSE.isnull().sum()

np.int64(0)

# **Outlier Analysis**

In [579]:
df.columns

Index(['Name', 'Order', 'Gender', 'Age', 'Weight', 'Height', 'Waist', 'Hip',
       'Smoking', 'Smoking_packet_year', 'Alcohol', 'DM_Type2',
       'DM_Type2_Duration', 'Insulin', 'DM_Type2_Drug', 'DM_Type2_Drug_Usage',
       'Dyslipidemia', 'Dyslipidemia_duration', 'KAH', 'KAH_Duration',
       'Hipotiroidi', 'Asthma', 'COPD', 'OP', 'HT', 'Duration_of_HT', 'N_HT',
       'HT_drugs', 'HT_Drug_Usage', 'Duration_of_1HT', 'Education', 'Job',
       'Status', 'Work_Status', 'Exercise', 'AT', 'CST', 'Gait_Speed',
       'Grip_Str', 'STAR', 'BMI', 'MMSE', 'Sarcopenia'],
      dtype='object')

In [580]:
df.head(n=5)

,Name,Order,Gender,Age,Weight,Height,Waist,Hip,Smoking,Smoking_packet_year,...,Work_Status,Exercise,AT,CST,Gait_Speed,Grip_Str,STAR,BMI,MMSE,Sarcopenia
0,beyzanur,1,M,74.0,88.0,178.0,113.0,113.0,1,10.0,...,0,3-4/week,50.2,12.5,1.21,32.0,1.81,27.8,29.0,0
1,beyzanur,2,M,62.0,105.0,172.0,125.0,110.0,1,30.0,...,0,0,49.0,12.1,1.42,47.0,1.38,35.5,30.0,1
2,beyzanur,3,M,65.0,89.0,169.0,110.0,114.0,0,0.0,...,0,3-4/week,37.3,8.7,1.18,33.0,1.20,31.2,28.0,0
3,beyzanur,4,F,71.0,68.0,160.0,103.0,100.0,1,5.0,...,0,1-2/week,29.5,8.3,1.23,25.0,1.11,26.6,29.0,0
4,beyzanur,5,F,61.0,80.0,160.0,102.0,105.0,0,0.0,...,0,1-2/week,39.5,11.0,1.31,31.0,1.26,31.3,27.0,0

In [581]:
df.describe()

,Order,Age,Weight,Height,Waist,Hip,Smoking,Smoking_packet_year,DM_Type2,DM_Type2_Duration,...,N_HT,Duration_of_1HT,AT,CST,Gait_Speed,Grip_Str,STAR,BMI,MMSE,Sarcopenia
count,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5014.000000,5016.000000,5016.000000,...,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000
mean,2508.500000,61.996810,76.580188,160.495906,98.171936,111.008155,0.320375,8.190666,0.304426,3.112818,...,1.045654,3.417085,36.171061,11.603092,0.989023,26.611902,1.239541,29.867752,27.688796,0.203150
std,1448.138806,9.695544,13.698852,9.026025,18.991366,14.324857,0.466667,16.073376,0.460210,6.481826,...,1.118907,5.705424,8.522783,4.682174,0.283148,9.591124,0.317370,5.324140,2.594004,0.402383
min,1.000000,42.000000,34.000000,125.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.100000,0.190000,0.000000,0.320000,13.930000,9.000000,0.000000
25%,1254.750000,54.000000,67.000000,155.000000,90.000000,102.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,30.200000,9.000000,0.790000,20.000000,1.010000,26.300000,27.000000,0.000000
50%,2508.500000,62.000000,76.000000,160.000000,98.171936,110.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,35.900000,10.800000,0.990000,25.000000,1.220000,29.300000,28.000000,0.000000
75%,3762.250000,69.000000,85.000000,166.000000,106.000000,117.000000,1.000000,10.000000,1.000000,3.000000,...,2.000000,5.000000,41.600000,12.900000,1.180000,31.000000,1.430000,32.900000,29.000000,0.000000
max,5016.000000,95.000000,137.000000,260.000000,915.000000,191.000000,1.000000,150.000000,1.000000,40.000000,...,6.000000,50.000000,73.000000,83.000000,2.500000,95.000000,2.780000,56.000000,30.000000,1.000000

In [582]:
def cap_outliers_iqr(df, column_name):
    """
    Identifies outliers in a specified DataFrame column using the 1.5 * IQR rule
    and replaces them with the calculated upper and lower bounds.

    Args:
        df (pd.DataFrame): The input DataFrame.
        column_name (str): The name of the numerical column to process.

    Returns:
        pd.DataFrame: A new DataFrame with outliers in the specified column capped.
    """
    if column_name not in df.columns:
        raise ValueError(f"Column '{column_name}' not found in the DataFrame.")
    if not pd.api.types.is_numeric_dtype(df[column_name]):
        raise TypeError(f"Column '{column_name}' is not numeric. IQR method requires numeric data.")

    # Calculate Q1 (25th percentile) and Q3 (75th percentile)
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)

    # Calculate IQR (Interquartile Range)
    IQR = Q3 - Q1

    # Calculate Upper and Lower Bounds
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    print(f"--- Outlier Capping for '{column_name}' ---")
    print(f"Q1: {Q1:.2f}")
    print(f"Q3: {Q3:.2f}")
    print(f"IQR: {IQR:.2f}")
    print(f"Lower Bound (Q1 - 1.5*IQR): {lower_bound:.2f}")
    print(f"Upper Bound (Q3 + 1.5*IQR): {upper_bound:.2f}")

    # Identify and replace outliers
    # Replace values below the lower_bound with the lower_bound
    df.loc[df[column_name] < lower_bound, column_name] = lower_bound
    # Replace values above the upper_bound with the upper_bound
    df.loc[df[column_name] > upper_bound, column_name] = upper_bound

    return df

In [583]:
cap_outliers_iqr(df, "Age")

--- Outlier Capping for 'Age' ---
Q1: 54.00
Q3: 69.00
IQR: 15.00
Lower Bound (Q1 - 1.5*IQR): 31.50
Upper Bound (Q3 + 1.5*IQR): 91.50

,Name,Order,Gender,Age,Weight,Height,Waist,Hip,Smoking,Smoking_packet_year,...,Work_Status,Exercise,AT,CST,Gait_Speed,Grip_Str,STAR,BMI,MMSE,Sarcopenia
0,beyzanur,1,M,74.0,88.0,178.0,113.0,113.0,1,10.0,...,0,3-4/week,50.2,12.50,1.21,32.0,1.81,27.80,29.0,0
1,beyzanur,2,M,62.0,105.0,172.0,125.0,110.0,1,30.0,...,0,0,49.0,12.10,1.42,47.0,1.38,35.50,30.0,1
2,beyzanur,3,M,65.0,89.0,169.0,110.0,114.0,0,0.0,...,0,3-4/week,37.3,8.70,1.18,33.0,1.20,31.20,28.0,0
3,beyzanur,4,F,71.0,68.0,160.0,103.0,100.0,1,5.0,...,0,1-2/week,29.5,8.30,1.23,25.0,1.11,26.60,29.0,0
4,beyzanur,5,F,61.0,80.0,160.0,102.0,105.0,0,0.0,...,0,1-2/week,39.5,11.00,1.31,31.0,1.26,31.30,27.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5011,ÖZDEN,5012,F,70.0,73.0,143.0,103.0,111.0,0,0.0,...,0,0,28.2,14.67,0.81,19.5,0.79,35.70,30.0,1
5012,ÖZDEN,5013,F,72.0,78.0,160.0,100.0,108.0,0,0.0,...,0,3-4/week,37.9,9.14,1.23,18.7,1.24,30.47,29.0,0
5013,ÖZDEN,5014,M,79.0,95.0,180.0,100.0,114.0,0,0.0,...,0,0,43.2,11.86,1.16,29.5,1.47,29.32,30.0,0
5014,ÖZDEN,5015,M,85.0,96.0,161.0,106.0,107.0,0,0.0,...,0,0,39.0,17.12,0.90,17.9,1.05,37.04,30.0,1
5015,ÖZDEN,5016,F,83.0,78.0,163.0,97.0,112.0,0,0.0,...,0,0,26.0,39.64,0.19,14.9,0.89,29.36,26.0,1

In [584]:
print(df.loc[3577, "Age"])

60.0

In [585]:
cap_outliers_iqr(df, "Weight")

--- Outlier Capping for 'Weight' ---
Q1: 67.00
Q3: 85.00
IQR: 18.00
Lower Bound (Q1 - 1.5*IQR): 40.00
Upper Bound (Q3 + 1.5*IQR): 112.00

,Name,Order,Gender,Age,Weight,Height,Waist,Hip,Smoking,Smoking_packet_year,...,Work_Status,Exercise,AT,CST,Gait_Speed,Grip_Str,STAR,BMI,MMSE,Sarcopenia
0,beyzanur,1,M,74.0,88.0,178.0,113.0,113.0,1,10.0,...,0,3-4/week,50.2,12.50,1.21,32.0,1.81,27.80,29.0,0
1,beyzanur,2,M,62.0,105.0,172.0,125.0,110.0,1,30.0,...,0,0,49.0,12.10,1.42,47.0,1.38,35.50,30.0,1
2,beyzanur,3,M,65.0,89.0,169.0,110.0,114.0,0,0.0,...,0,3-4/week,37.3,8.70,1.18,33.0,1.20,31.20,28.0,0
3,beyzanur,4,F,71.0,68.0,160.0,103.0,100.0,1,5.0,...,0,1-2/week,29.5,8.30,1.23,25.0,1.11,26.60,29.0,0
4,beyzanur,5,F,61.0,80.0,160.0,102.0,105.0,0,0.0,...,0,1-2/week,39.5,11.00,1.31,31.0,1.26,31.30,27.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5011,ÖZDEN,5012,F,70.0,73.0,143.0,103.0,111.0,0,0.0,...,0,0,28.2,14.67,0.81,19.5,0.79,35.70,30.0,1
5012,ÖZDEN,5013,F,72.0,78.0,160.0,100.0,108.0,0,0.0,...,0,3-4/week,37.9,9.14,1.23,18.7,1.24,30.47,29.0,0
5013,ÖZDEN,5014,M,79.0,95.0,180.0,100.0,114.0,0,0.0,...,0,0,43.2,11.86,1.16,29.5,1.47,29.32,30.0,0
5014,ÖZDEN,5015,M,85.0,96.0,161.0,106.0,107.0,0,0.0,...,0,0,39.0,17.12,0.90,17.9,1.05,37.04,30.0,1
5015,ÖZDEN,5016,F,83.0,78.0,163.0,97.0,112.0,0,0.0,...,0,0,26.0,39.64,0.19,14.9,0.89,29.36,26.0,1

In [586]:
df.Weight.value_counts()

Weight
70.0    219
80.0    210
75.0    195
72.0    168
78.0    165
       ...
40.0      3
46.0      3
41.0      2
43.0      2
44.0      1
Name: count, Length: 74, dtype: int64

In [587]:
df.Weight.max()

112.0

In [588]:
df.Height.max(),df.Height.min()

(260.0, 125.0)

In [589]:
cap_outliers_iqr(df, "Height")

--- Outlier Capping for 'Height' ---
Q1: 155.00
Q3: 166.00
IQR: 11.00
Lower Bound (Q1 - 1.5*IQR): 138.50
Upper Bound (Q3 + 1.5*IQR): 182.50

,Name,Order,Gender,Age,Weight,Height,Waist,Hip,Smoking,Smoking_packet_year,...,Work_Status,Exercise,AT,CST,Gait_Speed,Grip_Str,STAR,BMI,MMSE,Sarcopenia
0,beyzanur,1,M,74.0,88.0,178.0,113.0,113.0,1,10.0,...,0,3-4/week,50.2,12.50,1.21,32.0,1.81,27.80,29.0,0
1,beyzanur,2,M,62.0,105.0,172.0,125.0,110.0,1,30.0,...,0,0,49.0,12.10,1.42,47.0,1.38,35.50,30.0,1
2,beyzanur,3,M,65.0,89.0,169.0,110.0,114.0,0,0.0,...,0,3-4/week,37.3,8.70,1.18,33.0,1.20,31.20,28.0,0
3,beyzanur,4,F,71.0,68.0,160.0,103.0,100.0,1,5.0,...,0,1-2/week,29.5,8.30,1.23,25.0,1.11,26.60,29.0,0
4,beyzanur,5,F,61.0,80.0,160.0,102.0,105.0,0,0.0,...,0,1-2/week,39.5,11.00,1.31,31.0,1.26,31.30,27.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5011,ÖZDEN,5012,F,70.0,73.0,143.0,103.0,111.0,0,0.0,...,0,0,28.2,14.67,0.81,19.5,0.79,35.70,30.0,1
5012,ÖZDEN,5013,F,72.0,78.0,160.0,100.0,108.0,0,0.0,...,0,3-4/week,37.9,9.14,1.23,18.7,1.24,30.47,29.0,0
5013,ÖZDEN,5014,M,79.0,95.0,180.0,100.0,114.0,0,0.0,...,0,0,43.2,11.86,1.16,29.5,1.47,29.32,30.0,0
5014,ÖZDEN,5015,M,85.0,96.0,161.0,106.0,107.0,0,0.0,...,0,0,39.0,17.12,0.90,17.9,1.05,37.04,30.0,1
5015,ÖZDEN,5016,F,83.0,78.0,163.0,97.0,112.0,0,0.0,...,0,0,26.0,39.64,0.19,14.9,0.89,29.36,26.0,1

In [590]:
df.Height.max(),df.Height.min()

(182.5, 138.5)

In [591]:
cap_outliers_iqr(df, "Waist")

--- Outlier Capping for 'Waist' ---
Q1: 90.00
Q3: 106.00
IQR: 16.00
Lower Bound (Q1 - 1.5*IQR): 66.00
Upper Bound (Q3 + 1.5*IQR): 130.00

,Name,Order,Gender,Age,Weight,Height,Waist,Hip,Smoking,Smoking_packet_year,...,Work_Status,Exercise,AT,CST,Gait_Speed,Grip_Str,STAR,BMI,MMSE,Sarcopenia
0,beyzanur,1,M,74.0,88.0,178.0,113.0,113.0,1,10.0,...,0,3-4/week,50.2,12.50,1.21,32.0,1.81,27.80,29.0,0
1,beyzanur,2,M,62.0,105.0,172.0,125.0,110.0,1,30.0,...,0,0,49.0,12.10,1.42,47.0,1.38,35.50,30.0,1
2,beyzanur,3,M,65.0,89.0,169.0,110.0,114.0,0,0.0,...,0,3-4/week,37.3,8.70,1.18,33.0,1.20,31.20,28.0,0
3,beyzanur,4,F,71.0,68.0,160.0,103.0,100.0,1,5.0,...,0,1-2/week,29.5,8.30,1.23,25.0,1.11,26.60,29.0,0
4,beyzanur,5,F,61.0,80.0,160.0,102.0,105.0,0,0.0,...,0,1-2/week,39.5,11.00,1.31,31.0,1.26,31.30,27.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5011,ÖZDEN,5012,F,70.0,73.0,143.0,103.0,111.0,0,0.0,...,0,0,28.2,14.67,0.81,19.5,0.79,35.70,30.0,1
5012,ÖZDEN,5013,F,72.0,78.0,160.0,100.0,108.0,0,0.0,...,0,3-4/week,37.9,9.14,1.23,18.7,1.24,30.47,29.0,0
5013,ÖZDEN,5014,M,79.0,95.0,180.0,100.0,114.0,0,0.0,...,0,0,43.2,11.86,1.16,29.5,1.47,29.32,30.0,0
5014,ÖZDEN,5015,M,85.0,96.0,161.0,106.0,107.0,0,0.0,...,0,0,39.0,17.12,0.90,17.9,1.05,37.04,30.0,1
5015,ÖZDEN,5016,F,83.0,78.0,163.0,97.0,112.0,0,0.0,...,0,0,26.0,39.64,0.19,14.9,0.89,29.36,26.0,1

In [592]:
cap_outliers_iqr(df, "Hip")

--- Outlier Capping for 'Hip' ---
Q1: 102.00
Q3: 117.00
IQR: 15.00
Lower Bound (Q1 - 1.5*IQR): 79.50
Upper Bound (Q3 + 1.5*IQR): 139.50

,Name,Order,Gender,Age,Weight,Height,Waist,Hip,Smoking,Smoking_packet_year,...,Work_Status,Exercise,AT,CST,Gait_Speed,Grip_Str,STAR,BMI,MMSE,Sarcopenia
0,beyzanur,1,M,74.0,88.0,178.0,113.0,113.0,1,10.0,...,0,3-4/week,50.2,12.50,1.21,32.0,1.81,27.80,29.0,0
1,beyzanur,2,M,62.0,105.0,172.0,125.0,110.0,1,30.0,...,0,0,49.0,12.10,1.42,47.0,1.38,35.50,30.0,1
2,beyzanur,3,M,65.0,89.0,169.0,110.0,114.0,0,0.0,...,0,3-4/week,37.3,8.70,1.18,33.0,1.20,31.20,28.0,0
3,beyzanur,4,F,71.0,68.0,160.0,103.0,100.0,1,5.0,...,0,1-2/week,29.5,8.30,1.23,25.0,1.11,26.60,29.0,0
4,beyzanur,5,F,61.0,80.0,160.0,102.0,105.0,0,0.0,...,0,1-2/week,39.5,11.00,1.31,31.0,1.26,31.30,27.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5011,ÖZDEN,5012,F,70.0,73.0,143.0,103.0,111.0,0,0.0,...,0,0,28.2,14.67,0.81,19.5,0.79,35.70,30.0,1
5012,ÖZDEN,5013,F,72.0,78.0,160.0,100.0,108.0,0,0.0,...,0,3-4/week,37.9,9.14,1.23,18.7,1.24,30.47,29.0,0
5013,ÖZDEN,5014,M,79.0,95.0,180.0,100.0,114.0,0,0.0,...,0,0,43.2,11.86,1.16,29.5,1.47,29.32,30.0,0
5014,ÖZDEN,5015,M,85.0,96.0,161.0,106.0,107.0,0,0.0,...,0,0,39.0,17.12,0.90,17.9,1.05,37.04,30.0,1
5015,ÖZDEN,5016,F,83.0,78.0,163.0,97.0,112.0,0,0.0,...,0,0,26.0,39.64,0.19,14.9,0.89,29.36,26.0,1

In [593]:
df.describe()

,Order,Age,Weight,Height,Waist,Hip,Smoking,Smoking_packet_year,DM_Type2,DM_Type2_Duration,...,N_HT,Duration_of_1HT,AT,CST,Gait_Speed,Grip_Str,STAR,BMI,MMSE,Sarcopenia
count,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5014.000000,5016.000000,5016.000000,...,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000,5016.000000
mean,2508.500000,61.994816,76.500244,160.451747,97.975963,110.445157,0.320375,8.190666,0.304426,3.112818,...,1.045654,3.417085,36.171061,11.603092,0.989023,26.611902,1.239541,29.867752,27.688796,0.203150
std,1448.138806,9.689233,13.444037,8.796252,12.560747,11.617940,0.466667,16.073376,0.460210,6.481826,...,1.118907,5.705424,8.522783,4.682174,0.283148,9.591124,0.317370,5.324140,2.594004,0.402383
min,1.000000,42.000000,40.000000,138.500000,66.000000,79.500000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.100000,0.190000,0.000000,0.320000,13.930000,9.000000,0.000000
25%,1254.750000,54.000000,67.000000,155.000000,90.000000,102.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,30.200000,9.000000,0.790000,20.000000,1.010000,26.300000,27.000000,0.000000
50%,2508.500000,62.000000,76.000000,160.000000,98.171936,110.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,35.900000,10.800000,0.990000,25.000000,1.220000,29.300000,28.000000,0.000000
75%,3762.250000,69.000000,85.000000,166.000000,106.000000,117.000000,1.000000,10.000000,1.000000,3.000000,...,2.000000,5.000000,41.600000,12.900000,1.180000,31.000000,1.430000,32.900000,29.000000,0.000000
max,5016.000000,91.500000,112.000000,182.500000,130.000000,139.500000,1.000000,150.000000,1.000000,40.000000,...,6.000000,50.000000,73.000000,83.000000,2.500000,95.000000,2.780000,56.000000,30.000000,1.000000

In [595]:
df.columns

Index(['Name', 'Order', 'Gender', 'Age', 'Weight', 'Height', 'Waist', 'Hip',
       'Smoking', 'Smoking_packet_year', 'Alcohol', 'DM_Type2',
       'DM_Type2_Duration', 'Insulin', 'DM_Type2_Drug', 'DM_Type2_Drug_Usage',
       'Dyslipidemia', 'Dyslipidemia_duration', 'KAH', 'KAH_Duration',
       'Hipotiroidi', 'Asthma', 'COPD', 'OP', 'HT', 'Duration_of_HT', 'N_HT',
       'HT_drugs', 'HT_Drug_Usage', 'Duration_of_1HT', 'Education', 'Job',
       'Status', 'Work_Status', 'Exercise', 'AT', 'CST', 'Gait_Speed',
       'Grip_Str', 'STAR', 'BMI', 'MMSE', 'Sarcopenia'],
      dtype='object')

In [596]:
df.Smoking_packet_year.min()

0.0

In [597]:
df.Smoking_packet_year.describe()

count    5014.000000
mean        8.190666
std        16.073376
min         0.000000
25%         0.000000
50%         0.000000
75%        10.000000
max       150.000000
Name: Smoking_packet_year, dtype: float64

In [598]:
iqr = df.Smoking_packet_year.quantile(0.75) - df.Smoking_packet_year.quantile(0.25)
smoking_packet_upper_bound = df.Smoking_packet_year.quantile(0.75) + 1.5 * iqr
smoking_packet_upper_bound

np.float64(25.0)

In [599]:
df.Smoking_packet_year.median()

0.0

In [600]:
df.Smoking_packet_year.value_counts()

Smoking_packet_year
0.0      3404
30.0      239
20.0      211
10.0      163
40.0      141
         ...
98.0        1
34.0        1
49.0        1
19.0        1
111.0       1
Name: count, Length: 67, dtype: int64

In [601]:
df.loc[(df.Smoking_packet_year >= smoking_packet_upper_bound), "Smoking_packet_year"] = smoking_packet_upper_bound

In [602]:
df.Smoking_packet_year.max()

25.0

In [603]:
df.DM_Type2_Duration.max()

40.0

In [604]:
df.DM_Type2_Duration.median()

0.0

In [605]:
iqr = df.DM_Type2_Duration.quantile(0.75) - df.DM_Type2_Duration.quantile(0.25)
DM_upper_bound = df.DM_Type2_Duration.quantile(0.75) + 1.5 * iqr
DM_upper_bound

np.float64(7.5)

In [606]:
df.loc[(df.DM_Type2_Duration >= DM_upper_bound), "DM_Type2_Duration"] = df.DM_Type2_Duration.median()

In [607]:
df.Dyslipidemia_duration.max()

40.0

In [608]:
df.Dyslipidemia_duration.median()

0.0

In [609]:
iqr = df.Dyslipidemia_duration.quantile(0.75) - df.Dyslipidemia_duration.quantile(0.25)
Dyslipidemia_upper_bound = df.Dyslipidemia_duration.quantile(0.75) + 1.5 * iqr
Dyslipidemia_upper_bound

np.float64(0.0)

In [610]:
df.loc[(df.Dyslipidemia_duration >= Dyslipidemia_upper_bound), "Dyslipidemia_duration"] = df.Dyslipidemia_duration.median()

In [611]:
df.Dyslipidemia_duration.value_counts()

Dyslipidemia_duration
0.0    5016
Name: count, dtype: int64

In [612]:
df.KAH_Duration.max(), df.KAH_Duration.min(), df.KAH_Duration.mean(), df.KAH_Duration.median()

(40.0, 0.0, np.float64(1.0354309995953055), 0.0)

In [613]:
iqr_kah = df.KAH_Duration.quantile(0.75) - df.KAH_Duration.quantile(0.25)
KAH_duration_upper_bound = df.KAH_Duration.quantile(0.75) + 1.5 * iqr_kah
KAH_duration_upper_bound

np.float64(0.0)

In [614]:
df.loc[(df.KAH_Duration >= KAH_duration_upper_bound), "KAH_Duration"] = df.KAH_Duration.median()

In [615]:
df.Duration_of_HT.max(), df.Duration_of_HT.min(), df.Duration_of_HT.mean(), df.Duration_of_HT.median()

(50.0, 0.0, np.float64(5.830736389107194), 2.0)

In [616]:
iqr_ht = df.Duration_of_HT.quantile(0.75) - df.Duration_of_HT.quantile(0.25)
Duration_of_HT_upper_bound = df.Duration_of_HT.quantile(0.75) + 1.5 * iqr_ht
Duration_of_HT_lower_bound = df.Duration_of_HT.quantile(0.25) - 1.5 * iqr_ht
Duration_of_HT_upper_bound, Duration_of_HT_lower_bound

(np.float64(25.0), np.float64(-15.0))

In [617]:
df.loc[(df.Duration_of_HT >= Duration_of_HT_upper_bound), "Duration_of_HT"] = df.Duration_of_HT.median()

In [618]:
df.Duration_of_1HT.max(), df.Duration_of_1HT.min(), df.Duration_of_1HT.mean(), df.Duration_of_1HT.median()

(50.0, 0.0, np.float64(3.417085326953748), 0.0)

In [619]:
iqr_1ht = df.Duration_of_1HT.quantile(0.75) - df.Duration_of_1HT.quantile(0.25)
Duration_of_1HT_upper_bound = df.Duration_of_1HT.quantile(0.75) + 1.5 * iqr_1ht
Duration_of_1HT_lower_bound = df.Duration_of_1HT.quantile(0.25) - 1.5 * iqr_1ht
Duration_of_1HT_upper_bound, Duration_of_1HT_lower_bound

(np.float64(12.5), np.float64(-7.5))

In [620]:
df.loc[(df.Duration_of_1HT >= Duration_of_1HT_upper_bound), "Duration_of_1HT"] = df.Duration_of_1HT.median()

In [621]:
df.AT.max(), df.AT.min(), df.AT.mean(), df.AT.median()

(73.0, 0.0, np.float64(36.17106102911847), 35.9)

In [622]:
cap_outliers_iqr(df, "AT")

--- Outlier Capping for 'AT' ---
Q1: 30.20
Q3: 41.60
IQR: 11.40
Lower Bound (Q1 - 1.5*IQR): 13.10
Upper Bound (Q3 + 1.5*IQR): 58.70

,Name,Order,Gender,Age,Weight,Height,Waist,Hip,Smoking,Smoking_packet_year,...,Work_Status,Exercise,AT,CST,Gait_Speed,Grip_Str,STAR,BMI,MMSE,Sarcopenia
0,beyzanur,1,M,74.0,88.0,178.0,113.0,113.0,1,10.0,...,0,3-4/week,50.2,12.50,1.21,32.0,1.81,27.80,29.0,0
1,beyzanur,2,M,62.0,105.0,172.0,125.0,110.0,1,25.0,...,0,0,49.0,12.10,1.42,47.0,1.38,35.50,30.0,1
2,beyzanur,3,M,65.0,89.0,169.0,110.0,114.0,0,0.0,...,0,3-4/week,37.3,8.70,1.18,33.0,1.20,31.20,28.0,0
3,beyzanur,4,F,71.0,68.0,160.0,103.0,100.0,1,5.0,...,0,1-2/week,29.5,8.30,1.23,25.0,1.11,26.60,29.0,0
4,beyzanur,5,F,61.0,80.0,160.0,102.0,105.0,0,0.0,...,0,1-2/week,39.5,11.00,1.31,31.0,1.26,31.30,27.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5011,ÖZDEN,5012,F,70.0,73.0,143.0,103.0,111.0,0,0.0,...,0,0,28.2,14.67,0.81,19.5,0.79,35.70,30.0,1
5012,ÖZDEN,5013,F,72.0,78.0,160.0,100.0,108.0,0,0.0,...,0,3-4/week,37.9,9.14,1.23,18.7,1.24,30.47,29.0,0
5013,ÖZDEN,5014,M,79.0,95.0,180.0,100.0,114.0,0,0.0,...,0,0,43.2,11.86,1.16,29.5,1.47,29.32,30.0,0
5014,ÖZDEN,5015,M,85.0,96.0,161.0,106.0,107.0,0,0.0,...,0,0,39.0,17.12,0.90,17.9,1.05,37.04,30.0,1
5015,ÖZDEN,5016,F,83.0,78.0,163.0,97.0,112.0,0,0.0,...,0,0,26.0,39.64,0.19,14.9,0.89,29.36,26.0,1

In [623]:
cap_outliers_iqr(df, "CST")

--- Outlier Capping for 'CST' ---
Q1: 9.00
Q3: 12.90
IQR: 3.90
Lower Bound (Q1 - 1.5*IQR): 3.15
Upper Bound (Q3 + 1.5*IQR): 18.75

,Name,Order,Gender,Age,Weight,Height,Waist,Hip,Smoking,Smoking_packet_year,...,Work_Status,Exercise,AT,CST,Gait_Speed,Grip_Str,STAR,BMI,MMSE,Sarcopenia
0,beyzanur,1,M,74.0,88.0,178.0,113.0,113.0,1,10.0,...,0,3-4/week,50.2,12.50,1.21,32.0,1.81,27.80,29.0,0
1,beyzanur,2,M,62.0,105.0,172.0,125.0,110.0,1,25.0,...,0,0,49.0,12.10,1.42,47.0,1.38,35.50,30.0,1
2,beyzanur,3,M,65.0,89.0,169.0,110.0,114.0,0,0.0,...,0,3-4/week,37.3,8.70,1.18,33.0,1.20,31.20,28.0,0
3,beyzanur,4,F,71.0,68.0,160.0,103.0,100.0,1,5.0,...,0,1-2/week,29.5,8.30,1.23,25.0,1.11,26.60,29.0,0
4,beyzanur,5,F,61.0,80.0,160.0,102.0,105.0,0,0.0,...,0,1-2/week,39.5,11.00,1.31,31.0,1.26,31.30,27.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5011,ÖZDEN,5012,F,70.0,73.0,143.0,103.0,111.0,0,0.0,...,0,0,28.2,14.67,0.81,19.5,0.79,35.70,30.0,1
5012,ÖZDEN,5013,F,72.0,78.0,160.0,100.0,108.0,0,0.0,...,0,3-4/week,37.9,9.14,1.23,18.7,1.24,30.47,29.0,0
5013,ÖZDEN,5014,M,79.0,95.0,180.0,100.0,114.0,0,0.0,...,0,0,43.2,11.86,1.16,29.5,1.47,29.32,30.0,0
5014,ÖZDEN,5015,M,85.0,96.0,161.0,106.0,107.0,0,0.0,...,0,0,39.0,17.12,0.90,17.9,1.05,37.04,30.0,1
5015,ÖZDEN,5016,F,83.0,78.0,163.0,97.0,112.0,0,0.0,...,0,0,26.0,18.75,0.19,14.9,0.89,29.36,26.0,1

In [624]:
cap_outliers_iqr(df, "Grip_Str")

--- Outlier Capping for 'Grip_Str' ---
Q1: 20.00
Q3: 31.00
IQR: 11.00
Lower Bound (Q1 - 1.5*IQR): 3.50
Upper Bound (Q3 + 1.5*IQR): 47.50

,Name,Order,Gender,Age,Weight,Height,Waist,Hip,Smoking,Smoking_packet_year,...,Work_Status,Exercise,AT,CST,Gait_Speed,Grip_Str,STAR,BMI,MMSE,Sarcopenia
0,beyzanur,1,M,74.0,88.0,178.0,113.0,113.0,1,10.0,...,0,3-4/week,50.2,12.50,1.21,32.0,1.81,27.80,29.0,0
1,beyzanur,2,M,62.0,105.0,172.0,125.0,110.0,1,25.0,...,0,0,49.0,12.10,1.42,47.0,1.38,35.50,30.0,1
2,beyzanur,3,M,65.0,89.0,169.0,110.0,114.0,0,0.0,...,0,3-4/week,37.3,8.70,1.18,33.0,1.20,31.20,28.0,0
3,beyzanur,4,F,71.0,68.0,160.0,103.0,100.0,1,5.0,...,0,1-2/week,29.5,8.30,1.23,25.0,1.11,26.60,29.0,0
4,beyzanur,5,F,61.0,80.0,160.0,102.0,105.0,0,0.0,...,0,1-2/week,39.5,11.00,1.31,31.0,1.26,31.30,27.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5011,ÖZDEN,5012,F,70.0,73.0,143.0,103.0,111.0,0,0.0,...,0,0,28.2,14.67,0.81,19.5,0.79,35.70,30.0,1
5012,ÖZDEN,5013,F,72.0,78.0,160.0,100.0,108.0,0,0.0,...,0,3-4/week,37.9,9.14,1.23,18.7,1.24,30.47,29.0,0
5013,ÖZDEN,5014,M,79.0,95.0,180.0,100.0,114.0,0,0.0,...,0,0,43.2,11.86,1.16,29.5,1.47,29.32,30.0,0
5014,ÖZDEN,5015,M,85.0,96.0,161.0,106.0,107.0,0,0.0,...,0,0,39.0,17.12,0.90,17.9,1.05,37.04,30.0,1
5015,ÖZDEN,5016,F,83.0,78.0,163.0,97.0,112.0,0,0.0,...,0,0,26.0,18.75,0.19,14.9,0.89,29.36,26.0,1

In [625]:
cap_outliers_iqr(df, "BMI")

--- Outlier Capping for 'BMI' ---
Q1: 26.30
Q3: 32.90
IQR: 6.60
Lower Bound (Q1 - 1.5*IQR): 16.40
Upper Bound (Q3 + 1.5*IQR): 42.80

,Name,Order,Gender,Age,Weight,Height,Waist,Hip,Smoking,Smoking_packet_year,...,Work_Status,Exercise,AT,CST,Gait_Speed,Grip_Str,STAR,BMI,MMSE,Sarcopenia
0,beyzanur,1,M,74.0,88.0,178.0,113.0,113.0,1,10.0,...,0,3-4/week,50.2,12.50,1.21,32.0,1.81,27.80,29.0,0
1,beyzanur,2,M,62.0,105.0,172.0,125.0,110.0,1,25.0,...,0,0,49.0,12.10,1.42,47.0,1.38,35.50,30.0,1
2,beyzanur,3,M,65.0,89.0,169.0,110.0,114.0,0,0.0,...,0,3-4/week,37.3,8.70,1.18,33.0,1.20,31.20,28.0,0
3,beyzanur,4,F,71.0,68.0,160.0,103.0,100.0,1,5.0,...,0,1-2/week,29.5,8.30,1.23,25.0,1.11,26.60,29.0,0
4,beyzanur,5,F,61.0,80.0,160.0,102.0,105.0,0,0.0,...,0,1-2/week,39.5,11.00,1.31,31.0,1.26,31.30,27.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5011,ÖZDEN,5012,F,70.0,73.0,143.0,103.0,111.0,0,0.0,...,0,0,28.2,14.67,0.81,19.5,0.79,35.70,30.0,1
5012,ÖZDEN,5013,F,72.0,78.0,160.0,100.0,108.0,0,0.0,...,0,3-4/week,37.9,9.14,1.23,18.7,1.24,30.47,29.0,0
5013,ÖZDEN,5014,M,79.0,95.0,180.0,100.0,114.0,0,0.0,...,0,0,43.2,11.86,1.16,29.5,1.47,29.32,30.0,0
5014,ÖZDEN,5015,M,85.0,96.0,161.0,106.0,107.0,0,0.0,...,0,0,39.0,17.12,0.90,17.9,1.05,37.04,30.0,1
5015,ÖZDEN,5016,F,83.0,78.0,163.0,97.0,112.0,0,0.0,...,0,0,26.0,18.75,0.19,14.9,0.89,29.36,26.0,1

In [626]:
df.MMSE.max(), df.MMSE.min(), df.MMSE.mean(), df.MMSE.median()

(30.0, 9.0, np.float64(27.688795853269536), 28.0)

In [627]:
iqr_MMSE = df.MMSE.quantile(0.75) - df.MMSE.quantile(0.25)
MMSE_upper_bound = df.MMSE.quantile(0.75) + 1.5 * iqr_MMSE
MMSE_lower_bound = df.MMSE.quantile(0.25) - 1.5 * iqr_MMSE
MMSE_upper_bound, MMSE_lower_bound

(np.float64(32.0), np.float64(24.0))

In [628]:
df.loc[(df.MMSE <= MMSE_lower_bound), "MMSE"] = MMSE_lower_bound

In [629]:
df.to_excel("/content/drive/MyDrive/SARCOPENIA_PROJECT/sarcopenia-data-set_columns_corrected3.xlsx")